<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
<%- include('./partials/nav') %> 
<% if (locals.user) { %>
<!-- <%- console.log(user) %> -->
<!-- <%= JSON.stringify(blogs)  %> -->
<div class="container mt-3 row row-cols-4">
    <% blogs.forEach(blogs => { %>
      <div class="col">
        <div class="card col" style="width: 18rem;">
            <img src="<%= blogs.coverimageurl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= blogs.title %></h5>
              <!-- <p class="card-text"><%= blogs.body %></p> -->
              <a href="/blog/<%=blogs._id %>" class="btn btn-primary">View Blog</a>
            </div>
          </div>
          </div>
    <% }) %>
    </div>
    <% }%>
    <%- include('./partials/script') %> 
</body>
</html>